<div id="<%= dom_id edificio %>">
  <p>
    <strong>Nombre:</strong>
    <%= edificio.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= edificio.direccion %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= edificio.ciudad %>
  </p>

</div>
